In [53]:
import pandas as pd
from math import pow, sqrt

#Columns Names
m_cols = ['userid', 'name', 'gender', 'age', 'interest']

#Read Data from file into datadrame
users = pd.read_csv('dating.txt', sep='::', names=m_cols, encoding='latin-1', engine='python')

#print(users)

#Split Interest columns
users.interest = users.interest.str.split('|')

#Unique values of Interests
interest_columns = list(set([j for i in users['interest'].tolist() for j in i]))
#print(interest_columns)

#Convert Interest from delimitted string to Interest columns and mark 0 or 1
for j in interest_columns:
    users[j] = 0
for i in range(users.shape[0]):
    for j in interest_columns:
        if(j in users['interest'].iloc[i]):
            users.loc[i,j] = 1
            
#print(users)

#Create copy and insert Score column
user_score = users.copy()
user_score.insert(column="score",value=0.0000,loc=17)
# drop redundant comma separated interest column
users.drop('interest',axis=1,inplace=True)

#print(user_score)

#Function to create ranking of users that match the input user id
def CalculateRanking(input_user_id) :

    for i, row in user_score.iterrows():
        score = 0
        #set score zero for self so that self does not come as match
        if row['userid'] == input_user_id :
            user_score.at[i,'score'] = 0
        else:
            #Difference of age
            ageFactor = row['age'] - user_score.loc[input_user_id, 'age']

            #opposite gender
            if row['gender'] == user_score.loc[input_user_id, 'gender']:
                genderFactor=50 #given weightage can be adjusted to completely exclude same gender match
            else :
                genderFactor=0
                
            
            #Interest 
            interestFactor=0
            for j in interest_columns:
                if row[j] == 1 and  user_score.loc[input_user_id, j] == 1 :
                    interestFactor +=  1

            #score=pow(ageFactor,2)+pow(genderDiff,2)+pow((1/(1+interestFactor)),2)
            score=pow(ageFactor,2)+pow(genderFactor,2)-pow(interestFactor,2)


            ranking = (1/(1+sqrt(score)))
            #print( user_score.loc[input_user_id, 'name'], row['name'],i," age factor " , ageFactor, " gender Factor ", genderFactor, " interest factor ",  interestFactor," score ",score ," ranking ", ranking)


            user_score.at[i,'score'] = ranking

#USE THIS FUNCTION TO CALCULATE RELEVANT RANKING BASED ON USERID INPUT AS PARAMETER
#INPUT PARAMETER IS THE USERID IN THE TXT FILE
CalculateRanking(0)
#print(user_score)

user_score.sort_values(by=['score'],ascending=False)
#print(user_score)

,userid,name,gender,age,interest,Tennis,Crime,Hiking,Cooking,Horror,Badminton,Driving,Adventure,Movies,Football,Thriller,Cricket,score
7,7,User G,F,31,"[Adventure, Movies]",0,0,0,0,0,0,0,1,1,0,0,0,0.076923
27,27,User AA,F,30,"[Cricket, Tennis, Driving]",1,0,0,0,0,0,1,0,0,0,0,1,0.073265
19,19,User S,F,30,[Driving],0,0,0,0,0,0,1,0,0,0,0,0,0.071626
9,9,User I,F,29,"[Cricket, Tennis, Driving, Badminton]",1,0,0,0,0,1,1,0,0,0,0,1,0.069365
4,4,User D,F,28,"[Driving, Badminton]",0,0,0,0,0,1,1,0,0,0,0,0,0.063028
18,18,User R,F,28,"[Adventure, Tennis]",1,0,0,0,0,0,0,1,0,0,0,0,0.062631
26,26,User Z,F,28,"[Adventure, Tennis]",1,0,0,0,0,0,0,1,0,0,0,0,0.062631
24,24,User X,F,26,"[Badminton, Cooking]",0,0,0,1,0,1,0,0,0,0,0,0,0.055647
16,16,User P,F,26,"[Badminton, Cooking]",0,0,0,1,0,1,0,0,0,0,0,0,0.055647
3,3,User C,F,24,"[Driving, Movies]",0,0,0,0,0,0,1,0,1,0,0,0,0.050066
6,6,User F,F,24,"[Football, Crime, Thriller]",0,1,0,0,0,0,0,0,0,1,1,0,0.050000
21,21,User U,F,23,"[Cricket, Tennis]",1,0,0,0,0,0,0,0,0,0,0,1,0.047847
13,13,User M,F,23,"[Cricket, Tennis]",1,0,0,0,0,0,0,0,0,0,0,1,0.047847
10,10,User J,M,45,"[Football, Adventure, Thriller]",0,0,0,0,0,0,0,1,0,1,1,0,0.019592
5,5,User E,M,38,"[Football, Crime, Thriller]",0,1,0,0,0,0,0,0,0,1,1,0,0.019512
1,1,User A,M,33,"[Cricket, Tennis, Driving]",1,0,0,0,0,0,1,0,0,0,0,1,0.019267
30,30,User AD,M,32,"[Cricket, Badminton]",0,0,0,0,0,1,0,0,0,0,0,1,0.019173
20,20,User T,M,32,"[Cricket, Hiking]",0,0,1,0,0,0,0,0,0,0,0,1,0.019162
28,28,User AB,M,32,"[Cricket, Hiking]",0,0,1,0,0,0,0,0,0,0,0,1,0.019162
29,29,User AC,M,32,"[Badminton, Hiking]",0,0,1,0,0,1,0,0,0,0,0,0,0.019162
8,8,User H,M,28,"[Adventure, Tennis, Driving, Movies]",1,0,0,0,0,0,1,1,1,0,0,0,0.018810
2,2,User B,M,28,"[Adventure, Tennis, Badminton]",1,0,0,0,0,1,0,1,0,0,0,0,0.018810
17,17,User Q,M,27,"[Badminton, Movies]",0,0,0,0,0,1,0,0,1,0,0,0,0.018696
25,25,User Y,M,27,"[Badminton, Movies]",0,0,0,0,0,1,0,0,1,0,0,0,0.018696
15,15,User O,M,25,"[Football, Adventure, Movies]",0,0,0,0,0,0,0,1,1,1,0,0,0.018470
23,23,User W,M,25,"[Football, Adventure, Movies]",0,0,0,0,0,0,0,1,1,1,0,0,0.018470
22,22,User V,M,24,[Badminton],0,0,0,0,0,1,0,0,0,0,0,0,0.018356
14,14,User N,M,24,[Badminton],0,0,0,0,0,1,0,0,0,0,0,0,0.018356
12,12,User L,M,22,"[Driving, Horror, Thriller]",0,0,0,0,1,0,1,0,0,0,1,0,0.018109
11,11,User K,M,21,"[Driving, Badminton, Movies]",0,0,0,0,0,1,1,0,1,0,0,0,0.017989
0,0,User ZA,M,43,"[Cricket, Tennis, Driving, Badminton]",1,0,0,0,0,1,1,0,0,0,0,1,0.000000